{
  "openapi": "3.0.1",
  "info": {
    "title": "Analytics",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0/",
      "description": "Core"
    }
  ],
  "paths": {
    "/users/{user-id}/insights": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get insights from users",
        "operationId": "users_GetInsights",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "trending",
                  "shared",
                  "used"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "trending",
                  "shared",
                  "used"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.officeGraphInsights"
                }
              }
            },
            "links": {
              "trending": {
                "operationId": "user.insights.GetTrending",
                "parameters": {
                  "user-id": "$request.path.user-id",
                  "trending-id": "$response.body#/id"
                }
              },
              "shared": {
                "operationId": "user.insights.GetShared",
                "parameters": {
                  "user-id": "$request.path.user-id",
                  "sharedInsight-id": "$response.body#/id"
                }
              },
              "used": {
                "operationId": "user.insights.GetUsed",
                "parameters": {
                  "user-id": "$request.path.user-id",
                  "usedInsight-id": "$response.body#/id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Update the navigation property insights in users",
        "operationId": "users_UpdateInsights",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.officeGraphInsights"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/users/{user-id}/insights/shared": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get shared from users",
        "operationId": "users.insights_ListShared",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "lastShared",
                  "lastShared desc",
                  "sharingHistory",
                  "sharingHistory desc",
                  "resourceVisualization",
                  "resourceVisualization desc",
                  "resourceReference",
                  "resourceReference desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "lastShared",
                  "sharingHistory",
                  "resourceVisualization",
                  "resourceReference",
                  "lastSharedMethod",
                  "resource"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "lastSharedMethod",
                  "resource"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of sharedInsight",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.sharedInsight"
                      }
                    },
                    "@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Create new navigation property to shared for users",
        "operationId": "users.insights_CreateShared",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.sharedInsight"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.sharedInsight"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/users/{user-id}/insights/shared/{sharedInsight-id}": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get shared from users",
        "operationId": "users.insights_GetShared",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "sharedInsight-id",
            "in": "path",
            "description": "key: sharedInsight-id of sharedInsight",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "sharedInsight"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "lastShared",
                  "sharingHistory",
                  "resourceVisualization",
                  "resourceReference",
                  "lastSharedMethod",
                  "resource"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "lastSharedMethod",
                  "resource"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.sharedInsight"
                }
              }
            },
            "links": {
              "lastSharedMethod": {
                "operationId": "officeGraphInsights.shared.GetLastSharedMethod",
                "parameters": {
                  "user-id": "$request.path.user-id",
                  "sharedInsight-id": "$request.path.sharedInsight-id",
                  "entity-id": "$response.body#/id"
                }
              },
              "resource": {
                "operationId": "officeGraphInsights.shared.GetResource",
                "parameters": {
                  "user-id": "$request.path.user-id",
                  "sharedInsight-id": "$request.path.sharedInsight-id",
                  "entity-id": "$response.body#/id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Update the navigation property shared in users",
        "operationId": "users.insights_UpdateShared",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "sharedInsight-id",
            "in": "path",
            "description": "key: sharedInsight-id of sharedInsight",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "sharedInsight"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.sharedInsight"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/users/{user-id}/insights/shared/{sharedInsight-id}/lastSharedMethod": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get lastSharedMethod from users",
        "operationId": "users.insights.shared_GetLastSharedMethod",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "sharedInsight-id",
            "in": "path",
            "description": "key: sharedInsight-id of sharedInsight",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "sharedInsight"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.entity"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{user-id}/insights/shared/{sharedInsight-id}/resource": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get resource from users",
        "operationId": "users.insights.shared_GetResource",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "sharedInsight-id",
            "in": "path",
            "description": "key: sharedInsight-id of sharedInsight",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "sharedInsight"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.entity"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{user-id}/insights/trending": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get trending from users",
        "operationId": "users.insights_ListTrending",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "weight",
                  "weight desc",
                  "resourceVisualization",
                  "resourceVisualization desc",
                  "resourceReference",
                  "resourceReference desc",
                  "lastModifiedDateTime",
                  "lastModifiedDateTime desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "weight",
                  "resourceVisualization",
                  "resourceReference",
                  "lastModifiedDateTime",
                  "resource"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "resource"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of trending",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.trending"
                      }
                    },
                    "@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Create new navigation property to trending for users",
        "operationId": "users.insights_CreateTrending",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.trending"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.trending"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/users/{user-id}/insights/trending/{trending-id}": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get trending from users",
        "operationId": "users.insights_GetTrending",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "trending-id",
            "in": "path",
            "description": "key: trending-id of trending",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "trending"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "weight",
                  "resourceVisualization",
                  "resourceReference",
                  "lastModifiedDateTime",
                  "resource"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "resource"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.trending"
                }
              }
            },
            "links": {
              "resource": {
                "operationId": "officeGraphInsights.trending.GetResource",
                "parameters": {
                  "user-id": "$request.path.user-id",
                  "trending-id": "$request.path.trending-id",
                  "entity-id": "$response.body#/id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Update the navigation property trending in users",
        "operationId": "users.insights_UpdateTrending",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "trending-id",
            "in": "path",
            "description": "key: trending-id of trending",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "trending"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.trending"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/users/{user-id}/insights/trending/{trending-id}/resource": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get resource from users",
        "operationId": "users.insights.trending_GetResource",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "trending-id",
            "in": "path",
            "description": "key: trending-id of trending",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "trending"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.entity"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/users/{user-id}/insights/used": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get used from users",
        "operationId": "users.insights_ListUsed",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "lastUsed",
                  "lastUsed desc",
                  "resourceVisualization",
                  "resourceVisualization desc",
                  "resourceReference",
                  "resourceReference desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "lastUsed",
                  "resourceVisualization",
                  "resourceReference",
                  "resource"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "resource"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of usedInsight",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.usedInsight"
                      }
                    },
                    "@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Create new navigation property to used for users",
        "operationId": "users.insights_CreateUsed",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.usedInsight"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.usedInsight"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/users/{user-id}/insights/used/{usedInsight-id}": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get used from users",
        "operationId": "users.insights_GetUsed",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "usedInsight-id",
            "in": "path",
            "description": "key: usedInsight-id of usedInsight",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "usedInsight"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "lastUsed",
                  "resourceVisualization",
                  "resourceReference",
                  "resource"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "resource"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.usedInsight"
                }
              }
            },
            "links": {
              "resource": {
                "operationId": "officeGraphInsights.used.GetResource",
                "parameters": {
                  "user-id": "$request.path.user-id",
                  "usedInsight-id": "$request.path.usedInsight-id",
                  "entity-id": "$response.body#/id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Update the navigation property used in users",
        "operationId": "users.insights_UpdateUsed",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "usedInsight-id",
            "in": "path",
            "description": "key: usedInsight-id of usedInsight",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "usedInsight"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.usedInsight"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/users/{user-id}/insights/used/{usedInsight-id}/resource": {
      "get": {
        "tags": [
          "users.officeGraphInsights"
        ],
        "summary": "Get resource from users",
        "operationId": "users.insights.used_GetResource",
        "parameters": [
          {
            "name": "user-id",
            "in": "path",
            "description": "key: user-id of user",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "user"
          },
          {
            "name": "usedInsight-id",
            "in": "path",
            "description": "key: usedInsight-id of usedInsight",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "usedInsight"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.entity"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "microsoft.graph.officeGraphInsights": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "officeGraphInsights",
            "type": "object",
            "properties": {
              "trending": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.trending"
                },
                "description": "Calculated relationship identifying documents trending around a user. Trending documents are calculated based on activity of the user's closest network of people and include files stored in OneDrive for Business and SharePoint. Trending insights help the user to discover potentially useful content that the user has access to, but has never viewed before."
              },
              "shared": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.sharedInsight"
                },
                "description": "Calculated relationship identifying documents shared with or by the user. This includes URLs, file attachments, and reference attachments to OneDrive for Business and SharePoint files found in Outlook messages and meetings. This also includes URLs and reference attachments to Teams conversations. Ordered by recency of share."
              },
              "used": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.usedInsight"
                },
                "description": "Calculated relationship identifying the latest documents viewed or modified by a user, including OneDrive for Business and SharePoint documents, ranked by recency of use."
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "trending": [
            {
              "@odata.type": "microsoft.graph.trending"
            }
          ],
          "shared": [
            {
              "@odata.type": "microsoft.graph.sharedInsight"
            }
          ],
          "used": [
            {
              "@odata.type": "microsoft.graph.usedInsight"
            }
          ]
        }
      },
      "microsoft.graph.sharedInsight": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "sharedInsight",
            "type": "object",
            "properties": {
              "lastShared": {
                "$ref": "#/components/schemas/microsoft.graph.sharingDetail"
              },
              "sharingHistory": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.sharingDetail"
                }
              },
              "resourceVisualization": {
                "$ref": "#/components/schemas/microsoft.graph.resourceVisualization"
              },
              "resourceReference": {
                "$ref": "#/components/schemas/microsoft.graph.resourceReference"
              },
              "lastSharedMethod": {
                "$ref": "#/components/schemas/microsoft.graph.entity"
              },
              "resource": {
                "$ref": "#/components/schemas/microsoft.graph.entity"
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "lastShared": {
            "@odata.type": "microsoft.graph.sharingDetail"
          },
          "sharingHistory": [
            {
              "@odata.type": "microsoft.graph.sharingDetail"
            }
          ],
          "resourceVisualization": {
            "@odata.type": "microsoft.graph.resourceVisualization"
          },
          "resourceReference": {
            "@odata.type": "microsoft.graph.resourceReference"
          },
          "lastSharedMethod": {
            "@odata.type": "microsoft.graph.entity"
          },
          "resource": {
            "@odata.type": "microsoft.graph.entity"
          }
        }
      },
      "microsoft.graph.entity": {
        "title": "entity",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Read-only."
          }
        },
        "example": {
          "id": "string (identifier)"
        }
      },
      "microsoft.graph.trending": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "trending",
            "type": "object",
            "properties": {
              "weight": {
                "type": "number",
                "description": "Value indicating how much the document is currently trending. The larger the number, the more the document is currently trending around the user (the more relevant it is). Returned documents are sorted by this value.",
                "format": "double"
              },
              "resourceVisualization": {
                "$ref": "#/components/schemas/microsoft.graph.resourceVisualization"
              },
              "resourceReference": {
                "$ref": "#/components/schemas/microsoft.graph.resourceReference"
              },
              "lastModifiedDateTime": {
                "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                "type": "string",
                "format": "date-time",
                "nullable": true
              },
              "resource": {
                "$ref": "#/components/schemas/microsoft.graph.entity"
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "weight": "double",
          "resourceVisualization": {
            "@odata.type": "microsoft.graph.resourceVisualization"
          },
          "resourceReference": {
            "@odata.type": "microsoft.graph.resourceReference"
          },
          "lastModifiedDateTime": "string (timestamp)",
          "resource": {
            "@odata.type": "microsoft.graph.entity"
          }
        }
      },
      "microsoft.graph.usedInsight": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "usedInsight",
            "type": "object",
            "properties": {
              "lastUsed": {
                "$ref": "#/components/schemas/microsoft.graph.usageDetails"
              },
              "resourceVisualization": {
                "$ref": "#/components/schemas/microsoft.graph.resourceVisualization"
              },
              "resourceReference": {
                "$ref": "#/components/schemas/microsoft.graph.resourceReference"
              },
              "resource": {
                "$ref": "#/components/schemas/microsoft.graph.entity"
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "lastUsed": {
            "@odata.type": "microsoft.graph.usageDetails"
          },
          "resourceVisualization": {
            "@odata.type": "microsoft.graph.resourceVisualization"
          },
          "resourceReference": {
            "@odata.type": "microsoft.graph.resourceReference"
          },
          "resource": {
            "@odata.type": "microsoft.graph.entity"
          }
        }
      },
      "microsoft.graph.sharingDetail": {
        "title": "sharingDetail",
        "type": "object",
        "properties": {
          "sharedBy": {
            "$ref": "#/components/schemas/microsoft.graph.insightIdentity"
          },
          "sharedDateTime": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "description": "The date and time the file was last shared. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: 2014-01-01T00:00:00Z. Read-only.",
            "format": "date-time",
            "nullable": true
          },
          "sharingSubject": {
            "type": "string",
            "description": "The subject with which the document was shared.",
            "nullable": true
          },
          "sharingType": {
            "type": "string",
            "description": "Determines the way the document was shared, can be by a 'Link', 'Attachment', 'Group', 'Site'.",
            "nullable": true
          },
          "sharingReference": {
            "$ref": "#/components/schemas/microsoft.graph.resourceReference"
          }
        },
        "example": {
          "sharedBy": {
            "@odata.type": "microsoft.graph.insightIdentity"
          },
          "sharedDateTime": "string (timestamp)",
          "sharingSubject": "string",
          "sharingType": "string",
          "sharingReference": {
            "@odata.type": "microsoft.graph.resourceReference"
          }
        }
      },
      "microsoft.graph.resourceVisualization": {
        "title": "resourceVisualization",
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The item's title text.",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "The item's media type. Can be used for filtering for a specific file based on a specific type. See below for supported types.",
            "nullable": true
          },
          "mediaType": {
            "type": "string",
            "description": "The item's media type. Can be used for filtering for a specific type of file based on supported IANA Media Mime Types. Note that not all Media Mime Types are supported.",
            "nullable": true
          },
          "previewImageUrl": {
            "type": "string",
            "description": "A URL leading to the preview image for the item.",
            "nullable": true
          },
          "previewText": {
            "type": "string",
            "description": "A preview text for the item.",
            "nullable": true
          },
          "containerWebUrl": {
            "type": "string",
            "description": "A path leading to the folder in which the item is stored.",
            "nullable": true
          },
          "containerDisplayName": {
            "type": "string",
            "description": "A string describing where the item is stored. For example, the name of a SharePoint site or the user name identifying the owner of the OneDrive storing the item.",
            "nullable": true
          },
          "containerType": {
            "type": "string",
            "description": "Can be used for filtering by the type of container in which the file is stored. Such as Site or OneDriveBusiness.",
            "nullable": true
          }
        },
        "example": {
          "title": "string",
          "type": "string",
          "mediaType": "string",
          "previewImageUrl": "string",
          "previewText": "string",
          "containerWebUrl": "string",
          "containerDisplayName": "string",
          "containerType": "string"
        }
      },
      "microsoft.graph.resourceReference": {
        "title": "resourceReference",
        "type": "object",
        "properties": {
          "webUrl": {
            "type": "string",
            "description": "A URL leading to the referenced item.",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "The item's unique identifier.",
            "nullable": true
          },
          "type": {
            "type": "string",
            "description": "A string value that can be used to classify the item, such as 'microsoft.graph.driveItem'",
            "nullable": true
          }
        },
        "example": {
          "webUrl": "string",
          "id": "string",
          "type": "string"
        }
      },
      "microsoft.graph.usageDetails": {
        "title": "usageDetails",
        "type": "object",
        "properties": {
          "lastAccessedDateTime": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "description": "The date and time the resource was last accessed by the user. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: 2014-01-01T00:00:00Z. Read-only.",
            "format": "date-time",
            "nullable": true
          },
          "lastModifiedDateTime": {
            "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
            "type": "string",
            "description": "The date and time the resource was last modified by the user. The timestamp represents date and time information using ISO 8601 format and is always in UTC time. For example, midnight UTC on Jan 1, 2014 would look like this: 2014-01-01T00:00:00Z. Read-only.",
            "format": "date-time",
            "nullable": true
          }
        },
        "example": {
          "lastAccessedDateTime": "string (timestamp)",
          "lastModifiedDateTime": "string (timestamp)"
        }
      },
      "odata.error": {
        "required": [
          "error"
        ],
        "type": "object",
        "properties": {
          "error": {
            "$ref": "#/components/schemas/odata.error.main"
          }
        }
      },
      "microsoft.graph.insightIdentity": {
        "title": "insightIdentity",
        "type": "object",
        "properties": {
          "displayName": {
            "type": "string",
            "description": "The display name of the user who shared the item.",
            "nullable": true
          },
          "id": {
            "type": "string",
            "description": "The id of the user who shared the item.",
            "nullable": true
          },
          "address": {
            "type": "string",
            "description": "The email address of the user who shared the item.",
            "nullable": true
          }
        },
        "example": {
          "displayName": "string",
          "id": "string",
          "address": "string"
        }
      },
      "odata.error.main": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "target": {
            "type": "string"
          },
          "details": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/odata.error.detail"
            }
          },
          "innererror": {
            "type": "object",
            "description": "The structure of this object is service-specific"
          }
        }
      },
      "odata.error.detail": {
        "required": [
          "code",
          "message"
        ],
        "type": "object",
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "target": {
            "type": "string"
          }
        }
      }
    },
    "responses": {
      "error": {
        "description": "error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/odata.error"
            }
          }
        }
      }
    },
    "parameters": {
      "top": {
        "name": "$top",
        "in": "query",
        "description": "Show only the first n items",
        "schema": {
          "minimum": 0,
          "type": "integer"
        },
        "example": 50
      },
      "skip": {
        "name": "$skip",
        "in": "query",
        "description": "Skip the first n items",
        "schema": {
          "minimum": 0,
          "type": "integer"
        }
      },
      "search": {
        "name": "$search",
        "in": "query",
        "description": "Search items by search phrases",
        "schema": {
          "type": "string"
        }
      },
      "filter": {
        "name": "$filter",
        "in": "query",
        "description": "Filter items by property values",
        "schema": {
          "type": "string"
        }
      },
      "count": {
        "name": "$count",
        "in": "query",
        "description": "Include count of items",
        "schema": {
          "type": "boolean"
        }
      }
    },
    "securitySchemes": {
      "azureaadv2": {
        "type": "oauth2",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/authorize",
            "tokenUrl": "https://login.microsoftonline.com/common/oauth2/v2.0/token",
            "scopes": {}
          }
        }
      }
    }
  },
  "security": [
    {
      "azureaadv2": []
    }
  ]
}
