{
  "openapi": "3.0.1",
  "info": {
    "title": "CloudCommunications",
    "version": "v1.0"
  },
  "servers": [
    {
      "url": "https://graph.microsoft.com/v1.0/",
      "description": "Core"
    }
  ],
  "paths": {
    "/communications": {
      "get": {
        "tags": [
          "communications.cloudCommunications"
        ],
        "summary": "Get communications",
        "operationId": "communications.cloudCommunications_GetCloudCommunications",
        "parameters": [
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "calls",
                  "onlineMeetings"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "calls",
                  "onlineMeetings"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved entity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.cloudCommunications"
                }
              }
            },
            "links": {
              "calls": {
                "operationId": "communications.GetCalls",
                "parameters": {
                  "call-id": "$response.body#/id"
                }
              },
              "onlineMeetings": {
                "operationId": "communications.GetOnlineMeetings",
                "parameters": {
                  "onlineMeeting-id": "$response.body#/id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      },
      "patch": {
        "tags": [
          "communications.cloudCommunications"
        ],
        "summary": "Update communications",
        "operationId": "communications.cloudCommunications_UpdateCloudCommunications",
        "requestBody": {
          "description": "New property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.cloudCommunications"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/calls": {
      "get": {
        "tags": [
          "communications.call"
        ],
        "summary": "Get calls from communications",
        "operationId": "communications_ListCalls",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "state",
                  "state desc",
                  "mediaState",
                  "mediaState desc",
                  "resultInfo",
                  "resultInfo desc",
                  "direction",
                  "direction desc",
                  "subject",
                  "subject desc",
                  "callbackUri",
                  "callbackUri desc",
                  "callRoutes",
                  "callRoutes desc",
                  "source",
                  "source desc",
                  "targets",
                  "targets desc",
                  "requestedModalities",
                  "requestedModalities desc",
                  "mediaConfig",
                  "mediaConfig desc",
                  "chatInfo",
                  "chatInfo desc",
                  "callOptions",
                  "callOptions desc",
                  "meetingInfo",
                  "meetingInfo desc",
                  "tenantId",
                  "tenantId desc",
                  "myParticipantId",
                  "myParticipantId desc",
                  "toneInfo",
                  "toneInfo desc",
                  "callChainId",
                  "callChainId desc",
                  "incomingContext",
                  "incomingContext desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "state",
                  "mediaState",
                  "resultInfo",
                  "direction",
                  "subject",
                  "callbackUri",
                  "callRoutes",
                  "source",
                  "targets",
                  "requestedModalities",
                  "mediaConfig",
                  "chatInfo",
                  "callOptions",
                  "meetingInfo",
                  "tenantId",
                  "myParticipantId",
                  "toneInfo",
                  "callChainId",
                  "incomingContext",
                  "participants",
                  "operations"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "participants",
                  "operations"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of call",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.call"
                      }
                    },
                    "@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "communications.call"
        ],
        "summary": "Create new navigation property to calls for communications",
        "operationId": "communications_CreateCalls",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.call"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.call"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/calls/{call-id}": {
      "get": {
        "tags": [
          "communications.call"
        ],
        "summary": "Get calls from communications",
        "operationId": "communications_GetCalls",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "state",
                  "mediaState",
                  "resultInfo",
                  "direction",
                  "subject",
                  "callbackUri",
                  "callRoutes",
                  "source",
                  "targets",
                  "requestedModalities",
                  "mediaConfig",
                  "chatInfo",
                  "callOptions",
                  "meetingInfo",
                  "tenantId",
                  "myParticipantId",
                  "toneInfo",
                  "callChainId",
                  "incomingContext",
                  "participants",
                  "operations"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*",
                  "participants",
                  "operations"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.call"
                }
              }
            },
            "links": {
              "participants": {
                "operationId": "cloudCommunications.calls.GetParticipants",
                "parameters": {
                  "call-id": "$request.path.call-id",
                  "participant-id": "$response.body#/id"
                }
              },
              "operations": {
                "operationId": "cloudCommunications.calls.GetOperations",
                "parameters": {
                  "call-id": "$request.path.call-id",
                  "commsOperation-id": "$response.body#/id"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "communications.call"
        ],
        "summary": "Update the navigation property calls in communications",
        "operationId": "communications_UpdateCalls",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.call"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.answer": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action answer",
        "operationId": "communications.calls_answer",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "callbackUri": {
                    "type": "string"
                  },
                  "mediaConfig": {
                    "$ref": "#/components/schemas/microsoft.graph.mediaConfig"
                  },
                  "acceptedModalities": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/microsoft.graph.modality"
                    }
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.changeScreenSharingRole": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action changeScreenSharingRole",
        "operationId": "communications.calls_changeScreenSharingRole",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "role": {
                    "$ref": "#/components/schemas/microsoft.graph.screenSharingRole"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.keepAlive": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action keepAlive",
        "operationId": "communications.calls_keepAlive",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.mute": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action mute",
        "operationId": "communications.calls_mute",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.muteParticipantOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.playPrompt": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action playPrompt",
        "operationId": "communications.calls_playPrompt",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/microsoft.graph.prompt"
                    }
                  },
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.playPromptOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.recordResponse": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action recordResponse",
        "operationId": "communications.calls_recordResponse",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "prompts": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/microsoft.graph.prompt"
                    }
                  },
                  "bargeInAllowed": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  },
                  "initialSilenceTimeoutInSeconds": {
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  },
                  "maxSilenceTimeoutInSeconds": {
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  },
                  "maxRecordDurationInSeconds": {
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  },
                  "playBeep": {
                    "type": "boolean",
                    "default": false,
                    "nullable": true
                  },
                  "stopTones": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "nullable": true
                    }
                  },
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.recordOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.redirect": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action redirect",
        "operationId": "communications.calls_redirect",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "targets": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/microsoft.graph.invitationParticipantInfo"
                    }
                  },
                  "timeout": {
                    "maximum": 2147483647,
                    "minimum": -2147483648,
                    "type": "integer",
                    "format": "int32",
                    "nullable": true
                  },
                  "callbackUri": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.reject": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action reject",
        "operationId": "communications.calls_reject",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reason": {
                    "$ref": "#/components/schemas/microsoft.graph.rejectReason"
                  },
                  "callbackUri": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.subscribeToTone": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action subscribeToTone",
        "operationId": "communications.calls_subscribeToTone",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.subscribeToToneOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.transfer": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action transfer",
        "operationId": "communications.calls_transfer",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "transferTarget": {
                    "$ref": "#/components/schemas/microsoft.graph.invitationParticipantInfo"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.unmute": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action unmute",
        "operationId": "communications.calls_unmute",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.unmuteParticipantOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/microsoft.graph.updateRecordingStatus": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action updateRecordingStatus",
        "operationId": "communications.calls_updateRecordingStatus",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/microsoft.graph.recordingStatus"
                  },
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.updateRecordingStatusOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/operations": {
      "get": {
        "tags": [
          "communications.call"
        ],
        "summary": "Get operations from communications",
        "operationId": "communications.calls_ListOperations",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "status",
                  "status desc",
                  "clientContext",
                  "clientContext desc",
                  "resultInfo",
                  "resultInfo desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "status",
                  "clientContext",
                  "resultInfo"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of commsOperation",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.commsOperation"
                      }
                    },
                    "@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "communications.call"
        ],
        "summary": "Create new navigation property to operations for communications",
        "operationId": "communications.calls_CreateOperations",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.commsOperation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.commsOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/calls/{call-id}/operations/{commsOperation-id}": {
      "get": {
        "tags": [
          "communications.call"
        ],
        "summary": "Get operations from communications",
        "operationId": "communications.calls_GetOperations",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "name": "commsOperation-id",
            "in": "path",
            "description": "key: commsOperation-id of commsOperation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "commsOperation"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "status",
                  "clientContext",
                  "resultInfo"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.commsOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "communications.call"
        ],
        "summary": "Update the navigation property operations in communications",
        "operationId": "communications.calls_UpdateOperations",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "name": "commsOperation-id",
            "in": "path",
            "description": "key: commsOperation-id of commsOperation",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "commsOperation"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.commsOperation"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/calls/{call-id}/participants": {
      "get": {
        "tags": [
          "communications.call"
        ],
        "summary": "Get participants from communications",
        "operationId": "communications.calls_ListParticipants",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "info",
                  "info desc",
                  "recordingInfo",
                  "recordingInfo desc",
                  "mediaStreams",
                  "mediaStreams desc",
                  "isMuted",
                  "isMuted desc",
                  "isInLobby",
                  "isInLobby desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "info",
                  "recordingInfo",
                  "mediaStreams",
                  "isMuted",
                  "isInLobby"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of participant",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.participant"
                      }
                    },
                    "@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "communications.call"
        ],
        "summary": "Create new navigation property to participants for communications",
        "operationId": "communications.calls_CreateParticipants",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.participant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.participant"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/calls/{call-id}/participants/{participant-id}": {
      "get": {
        "tags": [
          "communications.call"
        ],
        "summary": "Get participants from communications",
        "operationId": "communications.calls_GetParticipants",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "name": "participant-id",
            "in": "path",
            "description": "key: participant-id of participant",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "participant"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "info",
                  "recordingInfo",
                  "mediaStreams",
                  "isMuted",
                  "isInLobby"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.participant"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "communications.call"
        ],
        "summary": "Update the navigation property participants in communications",
        "operationId": "communications.calls_UpdateParticipants",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "name": "participant-id",
            "in": "path",
            "description": "key: participant-id of participant",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "participant"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.participant"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/calls/{call-id}/participants/{participant-id}/microsoft.graph.mute": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action mute",
        "operationId": "communications.calls.participants_mute",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          },
          {
            "name": "participant-id",
            "in": "path",
            "description": "key: participant-id of participant",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "participant"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.muteParticipantOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/{call-id}/participants/microsoft.graph.invite": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action invite",
        "operationId": "communications.calls.participants_invite",
        "parameters": [
          {
            "name": "call-id",
            "in": "path",
            "description": "key: call-id of call",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "call"
          }
        ],
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "participants": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/microsoft.graph.invitationParticipantInfo"
                    }
                  },
                  "clientContext": {
                    "type": "string",
                    "nullable": true
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.inviteParticipantsOperation"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/calls/microsoft.graph.logTeleconferenceDeviceQuality": {
      "post": {
        "tags": [
          "communications.Actions"
        ],
        "summary": "Invoke action logTeleconferenceDeviceQuality",
        "operationId": "communications.calls_logTeleconferenceDeviceQuality",
        "requestBody": {
          "description": "Action parameters",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quality": {
                    "$ref": "#/components/schemas/microsoft.graph.teleconferenceDeviceQuality"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "action"
      }
    },
    "/communications/onlineMeetings": {
      "get": {
        "tags": [
          "communications.onlineMeeting"
        ],
        "summary": "Get onlineMeetings from communications",
        "operationId": "communications_ListOnlineMeetings",
        "parameters": [
          {
            "$ref": "#/components/parameters/top"
          },
          {
            "$ref": "#/components/parameters/skip"
          },
          {
            "$ref": "#/components/parameters/search"
          },
          {
            "$ref": "#/components/parameters/filter"
          },
          {
            "$ref": "#/components/parameters/count"
          },
          {
            "name": "$orderby",
            "in": "query",
            "description": "Order items by property values",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "id desc",
                  "creationDateTime",
                  "creationDateTime desc",
                  "startDateTime",
                  "startDateTime desc",
                  "endDateTime",
                  "endDateTime desc",
                  "joinWebUrl",
                  "joinWebUrl desc",
                  "subject",
                  "subject desc",
                  "participants",
                  "participants desc",
                  "audioConferencing",
                  "audioConferencing desc",
                  "chatInfo",
                  "chatInfo desc",
                  "videoTeleconferenceId",
                  "videoTeleconferenceId desc"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "creationDateTime",
                  "startDateTime",
                  "endDateTime",
                  "joinWebUrl",
                  "subject",
                  "participants",
                  "audioConferencing",
                  "chatInfo",
                  "videoTeleconferenceId"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Collection of onlineMeeting",
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/microsoft.graph.onlineMeeting"
                      }
                    },
                    "@odata.nextLink": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "@odata.nextLink",
          "operationName": "listMore"
        },
        "x-ms-docs-operation-type": "operation"
      },
      "post": {
        "tags": [
          "communications.onlineMeeting"
        ],
        "summary": "Create new navigation property to onlineMeetings for communications",
        "operationId": "communications_CreateOnlineMeetings",
        "requestBody": {
          "description": "New navigation property",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.onlineMeeting"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created navigation property.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.onlineMeeting"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    },
    "/communications/onlineMeetings/{onlineMeeting-id}": {
      "get": {
        "tags": [
          "communications.onlineMeeting"
        ],
        "summary": "Get onlineMeetings from communications",
        "operationId": "communications_GetOnlineMeetings",
        "parameters": [
          {
            "name": "onlineMeeting-id",
            "in": "path",
            "description": "key: onlineMeeting-id of onlineMeeting",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "onlineMeeting"
          },
          {
            "name": "$select",
            "in": "query",
            "description": "Select properties to be returned",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "id",
                  "creationDateTime",
                  "startDateTime",
                  "endDateTime",
                  "joinWebUrl",
                  "subject",
                  "participants",
                  "audioConferencing",
                  "chatInfo",
                  "videoTeleconferenceId"
                ],
                "type": "string"
              }
            }
          },
          {
            "name": "$expand",
            "in": "query",
            "description": "Expand related entities",
            "style": "form",
            "explode": false,
            "schema": {
              "uniqueItems": true,
              "type": "array",
              "items": {
                "enum": [
                  "*"
                ],
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieved navigation property",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/microsoft.graph.onlineMeeting"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "tags": [
          "communications.onlineMeeting"
        ],
        "summary": "Update the navigation property onlineMeetings in communications",
        "operationId": "communications_UpdateOnlineMeetings",
        "parameters": [
          {
            "name": "onlineMeeting-id",
            "in": "path",
            "description": "key: onlineMeeting-id of onlineMeeting",
            "required": true,
            "schema": {
              "type": "string"
            },
            "x-ms-docs-key-type": "onlineMeeting"
          }
        ],
        "requestBody": {
          "description": "New navigation property values",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/microsoft.graph.onlineMeeting"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "Success"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-ms-docs-operation-type": "operation"
      }
    }
  },
  "components": {
    "schemas": {
      "microsoft.graph.cloudCommunications": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "cloudCommunications",
            "type": "object",
            "properties": {
              "calls": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.call"
                }
              },
              "onlineMeetings": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.onlineMeeting"
                }
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "calls": [
            {
              "@odata.type": "microsoft.graph.call"
            }
          ],
          "onlineMeetings": [
            {
              "@odata.type": "microsoft.graph.onlineMeeting"
            }
          ]
        }
      },
      "microsoft.graph.call": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "call",
            "type": "object",
            "properties": {
              "state": {
                "$ref": "#/components/schemas/microsoft.graph.callState"
              },
              "mediaState": {
                "$ref": "#/components/schemas/microsoft.graph.callMediaState"
              },
              "resultInfo": {
                "$ref": "#/components/schemas/microsoft.graph.resultInfo"
              },
              "direction": {
                "$ref": "#/components/schemas/microsoft.graph.callDirection"
              },
              "subject": {
                "type": "string",
                "description": "The subject of the conversation.",
                "nullable": true
              },
              "callbackUri": {
                "type": "string",
                "description": "The callback URL on which callbacks will be delivered. Must be https."
              },
              "callRoutes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.callRoute"
                },
                "description": "The routing information on how the call was retargeted. Read-only."
              },
              "source": {
                "$ref": "#/components/schemas/microsoft.graph.participantInfo"
              },
              "targets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.invitationParticipantInfo"
                },
                "description": "The targets of the call. Required information for creating peer to peer call."
              },
              "requestedModalities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.modality"
                },
                "description": "The list of requested modalities. Possible values are: unknown, audio, video, videoBasedScreenSharing, data."
              },
              "mediaConfig": {
                "$ref": "#/components/schemas/microsoft.graph.mediaConfig"
              },
              "chatInfo": {
                "$ref": "#/components/schemas/microsoft.graph.chatInfo"
              },
              "callOptions": {
                "$ref": "#/components/schemas/microsoft.graph.callOptions"
              },
              "meetingInfo": {
                "$ref": "#/components/schemas/microsoft.graph.meetingInfo"
              },
              "tenantId": {
                "type": "string",
                "nullable": true
              },
              "myParticipantId": {
                "type": "string",
                "description": "Read-only.",
                "nullable": true
              },
              "toneInfo": {
                "$ref": "#/components/schemas/microsoft.graph.toneInfo"
              },
              "callChainId": {
                "type": "string",
                "description": "A unique identifier for all the participant calls in a conference or a unique identifier for two participant calls in a P2P call.  This needs to be copied over from Microsoft.Graph.Call.CallChainId.",
                "nullable": true
              },
              "incomingContext": {
                "$ref": "#/components/schemas/microsoft.graph.incomingContext"
              },
              "participants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.participant"
                },
                "description": "Read-only. Nullable."
              },
              "operations": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.commsOperation"
                },
                "description": "Read-only. Nullable."
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "state": {
            "@odata.type": "microsoft.graph.callState"
          },
          "mediaState": {
            "@odata.type": "microsoft.graph.callMediaState"
          },
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          },
          "direction": {
            "@odata.type": "microsoft.graph.callDirection"
          },
          "subject": "string",
          "callbackUri": "string",
          "callRoutes": [
            {
              "@odata.type": "microsoft.graph.callRoute"
            }
          ],
          "source": {
            "@odata.type": "microsoft.graph.participantInfo"
          },
          "targets": [
            {
              "@odata.type": "microsoft.graph.invitationParticipantInfo"
            }
          ],
          "requestedModalities": [
            {
              "@odata.type": "microsoft.graph.modality"
            }
          ],
          "mediaConfig": {
            "@odata.type": "microsoft.graph.mediaConfig"
          },
          "chatInfo": {
            "@odata.type": "microsoft.graph.chatInfo"
          },
          "callOptions": {
            "@odata.type": "microsoft.graph.callOptions"
          },
          "meetingInfo": {
            "@odata.type": "microsoft.graph.meetingInfo"
          },
          "tenantId": "string",
          "myParticipantId": "string",
          "toneInfo": {
            "@odata.type": "microsoft.graph.toneInfo"
          },
          "callChainId": "string",
          "incomingContext": {
            "@odata.type": "microsoft.graph.incomingContext"
          },
          "participants": [
            {
              "@odata.type": "microsoft.graph.participant"
            }
          ],
          "operations": [
            {
              "@odata.type": "microsoft.graph.commsOperation"
            }
          ]
        }
      },
      "microsoft.graph.mediaConfig": {
        "title": "mediaConfig",
        "type": "object"
      },
      "microsoft.graph.modality": {
        "title": "modality",
        "enum": [
          "audio",
          "video",
          "videoBasedScreenSharing",
          "data",
          "unknownFutureValue"
        ],
        "type": "string"
      },
      "microsoft.graph.screenSharingRole": {
        "title": "screenSharingRole",
        "enum": [
          "viewer",
          "sharer"
        ],
        "type": "string"
      },
      "microsoft.graph.muteParticipantOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.commsOperation"
          },
          {
            "title": "muteParticipantOperation",
            "type": "object"
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          }
        }
      },
      "microsoft.graph.prompt": {
        "title": "prompt",
        "type": "object"
      },
      "microsoft.graph.playPromptOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.commsOperation"
          },
          {
            "title": "playPromptOperation",
            "type": "object"
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          }
        }
      },
      "microsoft.graph.recordOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.commsOperation"
          },
          {
            "title": "recordOperation",
            "type": "object",
            "properties": {
              "recordingLocation": {
                "type": "string",
                "description": "The location where the recording is located.",
                "nullable": true
              },
              "recordingAccessToken": {
                "type": "string",
                "description": "The access token required to retrieve the recording.",
                "nullable": true
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          },
          "recordingLocation": "string",
          "recordingAccessToken": "string"
        }
      },
      "microsoft.graph.invitationParticipantInfo": {
        "title": "invitationParticipantInfo",
        "type": "object",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/microsoft.graph.identitySet"
          },
          "replacesCallId": {
            "type": "string",
            "description": "Optional. The call which the target identity is currently a part of. This call will be dropped once the participant is added.",
            "nullable": true
          }
        },
        "example": {
          "identity": {
            "@odata.type": "microsoft.graph.identitySet"
          },
          "replacesCallId": "string"
        }
      },
      "microsoft.graph.rejectReason": {
        "title": "rejectReason",
        "enum": [
          "none",
          "busy",
          "forbidden",
          "unknownFutureValue"
        ],
        "type": "string"
      },
      "microsoft.graph.subscribeToToneOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.commsOperation"
          },
          {
            "title": "subscribeToToneOperation",
            "type": "object"
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          }
        }
      },
      "microsoft.graph.unmuteParticipantOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.commsOperation"
          },
          {
            "title": "unmuteParticipantOperation",
            "type": "object"
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          }
        }
      },
      "microsoft.graph.recordingStatus": {
        "title": "recordingStatus",
        "enum": [
          "unknown",
          "notRecording",
          "recording",
          "failed",
          "unknownFutureValue"
        ],
        "type": "string"
      },
      "microsoft.graph.updateRecordingStatusOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.commsOperation"
          },
          {
            "title": "updateRecordingStatusOperation",
            "type": "object"
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          }
        }
      },
      "microsoft.graph.commsOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "commsOperation",
            "type": "object",
            "properties": {
              "status": {
                "$ref": "#/components/schemas/microsoft.graph.operationStatus"
              },
              "clientContext": {
                "type": "string",
                "description": "Unique Client Context string. Max limit is 256 chars.",
                "nullable": true
              },
              "resultInfo": {
                "$ref": "#/components/schemas/microsoft.graph.resultInfo"
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          }
        }
      },
      "microsoft.graph.participant": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "participant",
            "type": "object",
            "properties": {
              "info": {
                "$ref": "#/components/schemas/microsoft.graph.participantInfo"
              },
              "recordingInfo": {
                "$ref": "#/components/schemas/microsoft.graph.recordingInfo"
              },
              "mediaStreams": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.mediaStream"
                },
                "description": "The list of media streams."
              },
              "isMuted": {
                "type": "boolean",
                "description": "true if the participant is muted (client or server muted)."
              },
              "isInLobby": {
                "type": "boolean",
                "description": "true if the participant is in lobby."
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "info": {
            "@odata.type": "microsoft.graph.participantInfo"
          },
          "recordingInfo": {
            "@odata.type": "microsoft.graph.recordingInfo"
          },
          "mediaStreams": [
            {
              "@odata.type": "microsoft.graph.mediaStream"
            }
          ],
          "isMuted": true,
          "isInLobby": true
        }
      },
      "microsoft.graph.inviteParticipantsOperation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.commsOperation"
          },
          {
            "title": "inviteParticipantsOperation",
            "type": "object",
            "properties": {
              "participants": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/microsoft.graph.invitationParticipantInfo"
                },
                "description": "The participants to invite."
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "status": {
            "@odata.type": "microsoft.graph.operationStatus"
          },
          "clientContext": "string",
          "resultInfo": {
            "@odata.type": "microsoft.graph.resultInfo"
          },
          "participants": [
            {
              "@odata.type": "microsoft.graph.invitationParticipantInfo"
            }
          ]
        }
      },
      "microsoft.graph.teleconferenceDeviceQuality": {
        "title": "teleconferenceDeviceQuality",
        "type": "object",
        "properties": {
          "callChainId": {
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string",
            "description": "A unique identifier for all  the participant calls in a conference or a unique identifier for two participant calls in P2P call. This needs to be copied over from Microsoft.Graph.Call.CallChainId.",
            "format": "uuid"
          },
          "participantId": {
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string",
            "description": "A unique identifier for a specific participant in a conference. The CVI partner needs to copy over Call.MyParticipantId to this property.",
            "format": "uuid"
          },
          "mediaLegId": {
            "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$",
            "type": "string",
            "description": "A unique identifier for a specific media leg of a participant in a conference.  One participant can have multiple media leg identifiers if retargeting happens. CVI partner assigns this value.",
            "format": "uuid"
          },
          "deviceName": {
            "type": "string",
            "description": "The user media agent name, such as Cisco SX80."
          },
          "deviceDescription": {
            "type": "string",
            "description": "Any additional description, such as VTC Bldg 30/21."
          },
          "cloudServiceName": {
            "type": "string",
            "description": "The Azure deployed cloud service name, such as contoso.cloudapp.net.",
            "nullable": true
          },
          "cloudServiceInstanceName": {
            "type": "string",
            "description": "The Azure deployed cloud service instance name, such as FrontEnd_IN_3.",
            "nullable": true
          },
          "cloudServiceDeploymentId": {
            "type": "string",
            "description": "A unique deployment identifier assigned by Azure.",
            "nullable": true
          },
          "cloudServiceDeploymentEnvironment": {
            "type": "string",
            "description": "A geo-region where the service is deployed, such as ProdNoam.",
            "nullable": true
          },
          "mediaQualityList": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/microsoft.graph.teleconferenceDeviceMediaQuality"
            },
            "description": "The list of media qualities in a media session (call), such as audio quality, video quality, and/or screen sharing quality."
          }
        },
        "example": {
          "callChainId": "string",
          "participantId": "string",
          "mediaLegId": "string",
          "deviceName": "string",
          "deviceDescription": "string",
          "cloudServiceName": "string",
          "cloudServiceInstanceName": "string",
          "cloudServiceDeploymentId": "string",
          "cloudServiceDeploymentEnvironment": "string",
          "mediaQualityList": [
            {
              "@odata.type": "microsoft.graph.teleconferenceDeviceMediaQuality"
            }
          ]
        }
      },
      "microsoft.graph.onlineMeeting": {
        "allOf": [
          {
            "$ref": "#/components/schemas/microsoft.graph.entity"
          },
          {
            "title": "onlineMeeting",
            "type": "object",
            "properties": {
              "creationDateTime": {
                "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                "type": "string",
                "description": "The meeting creation time in UTC. Read-only.",
                "format": "date-time",
                "nullable": true
              },
              "startDateTime": {
                "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                "type": "string",
                "description": "The meeting start time in UTC.",
                "format": "date-time",
                "nullable": true
              },
              "endDateTime": {
                "pattern": "^[0-9]{4,}-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])T([01][0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]([.][0-9]{1,12})?(Z|[+-][0-9][0-9]:[0-9][0-9])$",
                "type": "string",
                "description": "The meeting end time in UTC.",
                "format": "date-time",
                "nullable": true
              },
              "joinWebUrl": {
                "type": "string",
                "description": "The join URL of the online meeting. Read-only.",
                "nullable": true
              },
              "subject": {
                "type": "string",
                "description": "The subject of the online meeting.",
                "nullable": true
              },
              "participants": {
                "$ref": "#/components/schemas/microsoft.graph.meetingParticipants"
              },
              "audioConferencing": {
                "$ref": "#/components/schemas/microsoft.graph.audioConferencing"
              },
              "chatInfo": {
                "$ref": "#/components/schemas/microsoft.graph.chatInfo"
              },
              "videoTeleconferenceId": {
                "type": "string",
                "description": "The video teleconferencing ID. Read-only.",
                "nullable": true
              }
            }
          }
        ],
        "example": {
          "id": "string (identifier)",
          "creationDateTime": "string (timestamp)",
          "startDateTime": "string (timestamp)",
          "endDateTime": "string (timestamp)",
          "joinWebUrl": "string",
          "subject": "string",
          "participants": {
            "@odata.type": "microsoft.graph.meetingParticipants"
          },
          "audioConferencing": {
            "@odata.type": "microsoft.graph.audioConferencing"
          },
          "chatInfo": {
            "@odata.type": "microsoft.graph.chatInfo"
          },
          "videoTeleconferenceId": "string"
        }
      },
      "microsoft.graph.entity": {
        "title": "entity",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Read-only."
          }
        },
        "example": {
          "id": "string (identifier)"
        }
      },
      "microsoft.graph.callState": {
        "title": "callState",
        "enum": [
          "incoming",
          "establishing",
          "established",
          "hold",
          "transferring",
          "transferAccepted",
          "redirecting",
          "terminating",
          "terminated",
          "unknownFutureValue"
        ],
        "type": "string"
      },
      "microsoft.graph.callMediaState": {
        "title": "callMediaState",
        "type": "object",
        "properties": {
          "audio": {
            "$ref": "#/components/schemas/microsoft.graph.mediaState"
          }
        },
        "example": {
          "audio": {
            "@odata.type": "microsoft.graph.mediaState"
          }
        }
      },
      "microsoft.graph.resultInfo": {
        "title": "resultInfo",
        "type": "object",
        "properties": {
          "code": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "description": "The result code.",
            "format": "int32"
          },
          "subcode": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "description": "The result sub-code.",
            "format": "int32"
          },
          "message": {
            "type": "string",
            "description": "The message.",
            "nullable": true
          }
        },
        "example": {
          "code": "integer",
          "subcode": "integer",
          "message": "string"
        }
      },
      "microsoft.graph.callDirection": {
        "title": "callDirection",
        "enum": [
          "incoming",
          "outgoing"
        ],
        "type": "string"
      },
      "microsoft.graph.callRoute": {
        "title": "callRoute",
        "type": "object",
        "properties": {
          "routingType": {
            "$ref": "#/components/schemas/microsoft.graph.routingType"
          },
          "original": {
            "$ref": "#/components/schemas/microsoft.graph.identitySet"
          },
          "final": {
            "$ref": "#/components/schemas/microsoft.graph.identitySet"
          }
        },
        "example": {
          "routingType": {
            "@odata.type": "microsoft.graph.routingType"
          },
          "original": {
            "@odata.type": "microsoft.graph.identitySet"
          },
          "final": {
            "@odata.type": "microsoft.graph.identitySet"
          }
        }
      },
      "microsoft.graph.participantInfo": {
        "title": "participantInfo",
        "type": "object",
        "properties": {
          "identity": {
            "$ref": "#/components/schemas/microsoft.graph.identitySet"
          },
          "endpointType": {
            "$ref": "#/components/schemas/microsoft.graph.endpointType"
          },
          "region": {
            "type": "string",
            "description": "The home region of the participant. This can be a country, a continent, or a larger geographic region. This does not change based on the participant's current physical location. Read-only.",
            "nullable": true
          },
          "languageId": {
            "type": "string",
            "description": "The language culture string. Read-only.",
            "nullable": true
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 Alpha-2 country code of the participant's best estimated physical location at the start of the call. Read-only.",
            "nullable": true
          }
        },
        "example": {
          "identity": {
            "@odata.type": "microsoft.graph.identitySet"
          },
          "endpointType": {
            "@odata.type": "microsoft.graph.endpointType"
          },
          "region": "string",
          "languageId": "string",
          "countryCode": "string"
        }
      },
      "microsoft.graph.chatInfo": {
        "title": "chatInfo",
        "type": "object",
        "properties": {
          "threadId": {
            "type": "string",
            "description": "The unique identifier for a thread in Microsoft Teams.",
            "nullable": true
          },
          "messageId": {
            "type": "string",
            "description": "The unique identifier of a message in a Microsoft Teams channel.",
            "nullable": true
          },
          "replyChainMessageId": {
            "type": "string",
            "description": "The ID of the reply message.",
            "nullable": true
          }
        },
        "example": {
          "threadId": "string",
          "messageId": "string",
          "replyChainMessageId": "string"
        }
      },
      "microsoft.graph.callOptions": {
        "title": "callOptions",
        "type": "object"
      },
      "microsoft.graph.meetingInfo": {
        "title": "meetingInfo",
        "type": "object"
      },
      "microsoft.graph.toneInfo": {
        "title": "toneInfo",
        "type": "object",
        "properties": {
          "sequenceId": {
            "type": "integer",
            "description": "An incremental identifier used for ordering DTMF events.",
            "format": "int64"
          },
          "tone": {
            "$ref": "#/components/schemas/microsoft.graph.tone"
          }
        },
        "example": {
          "sequenceId": "integer",
          "tone": {
            "@odata.type": "microsoft.graph.tone"
          }
        }
      },
      "microsoft.graph.incomingContext": {
        "title": "incomingContext",
        "type": "object",
        "properties": {
          "sourceParticipantId": {
            "type": "string",
            "description": "The ID of the participant that triggered the incoming call. Read-only.",
            "nullable": true
          },
          "observedParticipantId": {
            "type": "string",
            "description": "The ID of the participant that is under observation. Read-only.",
            "nullable": true
          },
          "onBehalfOf": {
            "$ref": "#/components/schemas/microsoft.graph.identitySet"
          },
          "transferor": {
            "$ref": "#/components/schemas/microsoft.graph.identitySet"
          }
        },
        "example": {
          "sourceParticipantId": "string",
          "observedParticipantId": "string",
          "onBehalfOf": {
            "@odata.type": "microsoft.graph.identitySet"
          },
          "transferor": {
            "@odata.type": "microsoft.graph.identitySet"
          }
        }
      },
      "microsoft.graph.identitySet": {
        "title": "identitySet",
        "type": "object",
        "properties": {
          "application": {
            "$ref": "#/components/schemas/microsoft.graph.identity"
          },
          "device": {
            "$ref": "#/components/schemas/microsoft.graph.identity"
          },
          "user": {
            "$ref": "#/components/schemas/microsoft.graph.identity"
          }
        },
        "example": {
          "application": {
            "@odata.type": "microsoft.graph.identity"
          },
          "device": {
            "@odata.type": "microsoft.graph.identity"
          },
          "user": {
            "@odata.type": "microsoft.graph.identity"
          }
        }
      },
      "microsoft.graph.operationStatus": {
        "title": "operationStatus",
        "enum": [
          "NotStarted",
          "Running",
          "Completed",
          "Failed"
        ],
        "type": "string"
      },
      "microsoft.graph.recordingInfo": {
        "title": "recordingInfo",
        "type": "object",
        "properties": {
          "recordingStatus": {
            "$ref": "#/components/schemas/microsoft.graph.recordingStatus"
          },
          "initiator": {
            "$ref": "#/components/schemas/microsoft.graph.identitySet"
          }
        },
        "example": {
          "recordingStatus": {
            "@odata.type": "microsoft.graph.recordingStatus"
          },
          "initiator": {
            "@odata.type": "microsoft.graph.identitySet"
          }
        }
      },
      "microsoft.graph.mediaStream": {
        "title": "mediaStream",
        "type": "object",
        "properties": {
          "mediaType": {
            "$ref": "#/components/schemas/microsoft.graph.modality"
          },
          "label": {
            "type": "string",
            "description": "The media stream label.",
            "nullable": true
          },
          "sourceId": {
            "type": "string",
            "description": "The source ID."
          },
          "direction": {
            "$ref": "#/components/schemas/microsoft.graph.mediaDirection"
          },
          "serverMuted": {
            "type": "boolean",
            "description": "If the media is muted by the server."
          }
        },
        "example": {
          "mediaType": {
            "@odata.type": "microsoft.graph.modality"
          },
          "label": "string",
          "sourceId": "string",
          "direction": {
            "@odata.type": "microsoft.graph.mediaDirection"
          },
          "serverMuted": true
        }
      },
      "microsoft.graph.teleconferenceDeviceMediaQuality": {
        "title": "teleconferenceDeviceMediaQuality",
        "type": "object",
        "properties": {
          "channelIndex": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "description": "The channel index of media. Indexing begins with 1.  If a media session contains 3 video modalities, channel indexes will be 1, 2, and 3.",
            "format": "int32"
          },
          "mediaDuration": {
            "pattern": "^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$",
            "type": "string",
            "description": "The total modality duration. If the media enabled and disabled multiple times, MediaDuration will the summation of all of the durations.",
            "format": "duration",
            "nullable": true
          },
          "networkLinkSpeedInBytes": {
            "type": "integer",
            "description": "The network link speed in bytes",
            "format": "int64",
            "nullable": true
          },
          "localIPAddress": {
            "type": "string",
            "description": "the local IP address for the media session.",
            "nullable": true
          },
          "localPort": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "description": "The local media port.",
            "format": "int32",
            "nullable": true
          },
          "remoteIPAddress": {
            "type": "string",
            "description": "The remote IP address for the media session.",
            "nullable": true
          },
          "remotePort": {
            "maximum": 2147483647,
            "minimum": -2147483648,
            "type": "integer",
            "description": "The remote media port.",
            "format": "int32",
            "nullable": true
          },
          "inboundPackets": {
            "type": "integer",
            "description": "The total number of the inbound packets.",
            "format": "int64",
            "nullable": true
          },
          "outboundPackets": {
            "type": "integer",
            "description": "The total number of the outbound packets.",
            "format": "int64",
            "nullable": true
          },
          "averageInboundPacketLossRateInPercentage": {
            "type": "number",
            "description": "The average inbound stream packet loss rate in percentage (0-100). For example, 0.01 means 0.01%.",
            "format": "double",
            "nullable": true
          },
          "averageOutboundPacketLossRateInPercentage": {
            "type": "number",
            "description": "The average outbound stream packet loss rate in percentage (0-100). For example, 0.01 means 0.01%.",
            "format": "double",
            "nullable": true
          },
          "maximumInboundPacketLossRateInPercentage": {
            "type": "number",
            "description": "The maximum inbound stream packet loss rate in percentage (0-100). For example, 0.01 means 0.01%.",
            "format": "double",
            "nullable": true
          },
          "maximumOutboundPacketLossRateInPercentage": {
            "type": "number",
            "description": "The maximum outbound stream packet loss rate in percentage (0-100). For example, 0.01 means 0.01%.",
            "format": "double",
            "nullable": true
          },
          "averageInboundRoundTripDelay": {
            "pattern": "^-?P([0-9]+D)?(T([0-9]+H)?([0-9]+M)?([0-9]+([.][0-9]+)?S)?)?$",
            "type": "string",
            "description": "The average inbound stream network round trip delay.",
            "format": "duration",
            "nullable": true
          },
          "averageOutboundRoundTripDelay": {
[...]
